@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px; /* Menambahkan padding kiri dan kanan agar tidak terlalu mepet */
    background-color: #fff;
    border-bottom: 2px solid #eee;
}

.navbar .rata-kiri{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.logo {
    order: 1; /* Menempatkan logo di sebelah kiri */
}

.logo img {
    max-width: 150px;
}

nav {
    order: 2; /* Pindahkan navigasi di sebelah kiri setelah logo */
    display: flex;
    gap: 20px;
    margin-left: 1px; /* Tambahkan jarak antara logo dan navigasi */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: 30px;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 300; /* Membuat font lebih tipis */
    font-size: 15px; /* Sesuaikan ukuran font */
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #7d64ff; /* Warna saat hover */
}

.auth-buttons {
    order: 3; /* Memindahkan tombol Login dan Register ke kanan */
    display: flex;
    gap: 10px;
}

.login-btn, .register-btn {
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px; /* Membuat tombol lonjong */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login-btn {
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
}

.login-btn:hover {
    background-color: #333;
    color: #fff;
}

.register-btn {
    background-color: #7d64ff;
    color: #fff;
    border: none;
}

.register-btn:hover {
    background-color: #5d4acc;
    color: #fff;
}

/* navbar sampe sini */


/* jumbotron */
.jumbotron {
    background-color: #DCF529;
    padding: 20px;
    height: 580px;
}

.jumbotron-content {
    display: flex;
    flex-direction: row-reverse; /* Mengubah arah flex untuk membalik urutan */
    justify-content: space-between; /* Memberi ruang antara gambar dan teks */
    align-items: center;
    height: 100%;
    margin-right: 150px;
}

.jumbotron-image {
    max-width: 450px;
    height: auto;
    margin-left: 70px;
}

.jumbotron-text {
    font-size: 28px;
    max-width: 600px;
    text-align: left; /* Memastikan teks rata kiri */
    margin-left: 50px;
}

.jumbotron-text h2 {
    margin: 0;
    font-size:50px;
}

.jumbotron-text p {
    margin-top: 10px;
}

.button-product {
    height: 41px;
    width: 170px;
    font-size: 18px;
    background-color: #8968F6;
    margin-left: 23px;
    border-radius: 80px;
    color: white;
    cursor: pointer;
}

/* weh ga masuk ini weh */
.button-product :hover{
    height: 41px;
    width: 170px;
    font-size: 18px;
    background-color: #4192f0;
    margin-left: 23px;
    border-radius: 80px;
    color: white;
    cursor: pointer;
}

.button-container {
    display: flex; /* Menyusun button dalam satu baris */
    justify-content: space-evenly; /* Mengatur posisi button di tengah */
    gap: 15px; /* Jarak antar button */

}

.button-container button h3 i{
    margin-right: 15px;
}


.button-class {
    height: 80px;
    width: 240px;
    font-size: 18px;
    background-color: white;
    border-radius: 10px;
    color: black;
    border: 1px solid #ccc; /* Tambahkan border jika diperlukan */
}

.button-siswa {
    background-color: white; /* Warna latar belakang berbeda untuk button baru */
    color: #333; /* Warna teks untuk button baru */
}

/* button 5 */
/* Gaya untuk tombol-tombol tambahan agar mirip dengan button-class dan button-siswa */
.button-business,
.button-development,
.button-language,
.button-design,
.button-office {
    height: 85px; /* Tinggi tombol */
    width: 130px; /* Lebar tombol */
    font-size: 18px; /* Ukuran font */
    background-color: rgb(209, 209, 209); /* Warna latar belakang */
    border-radius: 10px; /* Sudut tombol */
    color: black; /* Warna teks */
    border: 1px solid #ccc; /* Border tombol */
    margin: 15px; /* Jarak antara tombol */
    transition: background-color 0.3s, color 0.3s; /* Efek transisi untuk warna */
    display: flex; /* Menggunakan flexbox untuk konten tombol */
    justify-content: center; /* Memusatkan konten secara horizontal */
    align-items: center; /* Memusatkan konten secara vertikal */
    flex-direction: column; /*biar icon sama test nya beda baris */
}

/* Tambahkan efek hover pada tombol */
.button-business:hover,
.button-development:hover,
.button-language:hover,
.button-design:hover,
.button-office:hover {
    background-color: #fdfcfc; /* Warna latar belakang saat hover */
    color: #333; /* Warna teks saat hover */
    cursor: pointer;
}

/* Agar tombol-tombol menyatu dengan jumbotron */
.button-container2 {
    display: flex; /* Menyusun tombol dalam satu baris */
    justify-content: center; /* Mengatur posisi tombol di tengah */
    flex-wrap: wrap; /* Mengatur agar tombol turun ke baris berikutnya jika tidak muat */
    gap: 15px; /* Jarak antar tombol */
    margin: 30px 0; /* Jarak dari elemen lain */
    align-items: center;
}

/* mba mba kudung merah */
.mbakudung{
    margin-bottom: 50px;
}

.mbakudung .text-benefit{
    margin-left: 150px;
}

.mbakudung .text-benefit h2{
    font-size:45px;
}

.mbakudung .text-benefit p i{
    margin-right: 15px;
    font-size: 35px;
}


.pict_mbakudung{
    width: auto; /* Mengubah lebar gambar menjadi 50% dari elemen pembungkusnya */  
    height: auto; /* Menjaga rasio aspek gambar */  
}




/* faq */
.faq{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faq h1{
    text-align: center;
    margin-bottom: 30px;
}

.faq .card-faq{
    margin-left: 5%; 
    margin-top: 30px;
    width: 70%;
    padding: 30px;
    box-sizing: border-box;
    background-color: #D9D9D9;
    border-radius: 50px;
    color: black; 
}

.faq .card-faq h3{
    margin-bottom: 10px;
}








/* footer */
/* Styling untuk footer */
footer {
    background-color: #141414;
    padding: 40px 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.kekanan{
    display: flex;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.footer-about, .contact-us, .information {
    flex: 1;
    margin: 20px;
}

.footer-about h3, .contact-us h3, .information h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #FF7569;
}

.kekanan .contact-us ul, .kekanan .information ul {
    list-style: none;
    padding: 0;
}

.kekanan .contact-us ul li, .kenanan .information ul li {
    margin-bottom: 10px;
}

.kekanan .contact-us ul li a, .kekanan .information ul li a {
    text-decoration: none;
    color: #ffff;
    transition: color 0.3s;
}

.kekanan .contact-us ul li a:hover,.kekanan .information ul li a:hover {
    color: #fff;
}


@media (max-width: 900px) {
    .jumbotron , .mbakudung {
        flex-direction: column;
        align-items: center;
    }

    /* .program-card {
        width: 80%;
        margin-bottom: 20px;
    } */
}