@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #DCF529;
}
/*body*/
body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

/*------------ Login container ------------*/

.box-area{
    width: 720px;
    height: 560px;
}

.col-md-6{
    max-height: 540px;
}
/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;
     }
     .left-box{
        height: 75px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}

/* footer */
/* footer */
/* Styling untuk footer */
footer {
    background-color: #141414;
    padding: 40px 0;
    color: #8b7272;
    font-family: 'Poppins', sans-serif;
}

.kekanan{
    display: flex;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.footer-about, .contact-us, .information {
    flex: 1;
    margin: 20px;
}

.footer-about h3, .contact-us h3, .information h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #FF7569;
}

.kekanan .contact-us ul, .kekanan .information ul {
    list-style: none;
    padding: 0;
}

.kekanan .contact-us ul li, .kenanan .information ul li {
    margin-bottom: 10px;
}

.kekanan .contact-us ul li a, .kekanan .information ul li a {
    text-decoration: none;
    color: #ffff;
    transition: color 0.3s;
}

.kekanan .contact-us ul li a:hover,.kekanan .information ul li a:hover {
    color: #fff;
}