@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    border-bottom: 2px solid #eee;
}

.navbar .rata-kiri{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    order: 1;
}

.logo img {
    max-width: 150px;
}

nav {
    order: 2;
    display: flex;
    gap: 20px;
    margin-left: 1px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 300;
    font-size: 13px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #7d64ff;
}

.auth-buttons {
    order: 3;
    display: flex;
    gap: 8px;
}

.login-btn, .register-btn {
    padding: 8px 25px;
    font-size: 14px;
    border-radius: 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login-btn {
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
}

.login-btn:hover {
    background-color: #333;
    color: #fff;
}

.register-btn {
    background-color: #7d64ff;
    color: #fff;
    border: none;
}

.register-btn:hover {
    background-color: #5d4acc;
    color: #fff;
}

main {
    padding: 0;
    text-align: left;
}

.hero {
    width: 100%;
    padding: 0px;
    background-color: #fff;
    text-align: left;
    margin-bottom: 30px;
}

.highlight-bg {
    background-color: #DCF529;
    padding: 30px 0;
    margin-bottom: 0px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.hero h1 {
    font-size: 30px;
    color: #333;
    margin: 0;
    text-align: left;
    padding-left: 70px;
}

.highlight {
    font-size: 23px;
    margin: 20px 0;
    color: #000;
    font-weight: bold;
}

blockquote {
    font-size: 30px;
    font-style: italic;
    margin: 0 0 20px 0;
    padding-left: 70px;
}

blockquote span {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #666;
}

p {
    font-size: 20px;
    color: #333;
    margin: 20px 0;
    padding-left: 70px;
    line-height: 1.6;
}

.benefits h2 {
    font-size: 23px;
    margin: 20px 0;
    color: #333;
    font-weight: bold;
    padding-left: 70px;
}

.benefits ul {
    list-style-type: disc;
    margin: 20px 0;
    padding-left: 120px;
}

.benefits ul li {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

h3{
    font-size: 23px;
    padding-left: 70px;
}

.join-btn {
    background-color: #7d64ff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 70px;
    transition: all 0.3s ease-in-out;
}

.join-btn:hover {
    background-color: #5d4acc;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #141414;
    padding: 40px 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.kekanan{
    display: flex;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.footer-about, .contact-us, .information {
    flex: 1;
    margin: 20px;
}

.footer-about p {
    color: #fff;
}

.footer-about h3, .contact-us h3, .information h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #FF7569;
}

.kekanan .contact-us ul, .kekanan .information ul {
    list-style: none;
    padding: 0;
}

.kekanan .contact-us ul li, .kenanan .information ul li {
    margin-bottom: 10px;
}

.kekanan .contact-us ul li a, .kekanan .information ul li a {
    text-decoration: none;
    color: #ffff;
    transition: color 0.3s;
}

.kekanan .contact-us ul li a:hover,.kekanan .information ul li a:hover {
    color: #fff;
}
