<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PassionPath</title>
    <link rel="shotcut icon" type="n-icon" href="../img/logo_Square_passionpath.png">
    <link rel="stylesheet" href="../../style/courses/style_development.css">
    <link rel="stylesheet" href="../../style/style_nav-footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

    <header>
        <div class="navbar-custom">
          <div class="rata-kiri">
            <div class="logo">
              <img
                src="../../img/logo_long_passionpath.png"
                alt="PassionPath Logo"
              />
            </div>
            <nav>
              <ul>
                <li><a href="../../view/index.html">Home</a></li>
                <li><a href="../../view/about.html">About</a></li>
                <li><a href="../../view/product.html">Product</a></li>
              </ul>
            </nav>
          </div>
  
          <div class="auth-buttons">
            <a href="../../view/login.html">
              <button class="login-btn">Login</button></a
            >
            <a href="../../view/register.html">
              <button class="register-btn">Register</button></a
            >
          </div>
        </div>
      </header>
    
      <section class="main-section">
        <h2>Development</h2>
        <p>Dalam era digital, perangkat lunak menjadi komponen vital dalam kehidupan sehari-hari. Software development adalah proses penciptaan solusi digital yang memenuhi kebutuhan pengguna. Melalui berbagai tahapan, metode, dan alat, pengembang menghasilkan perangkat lunak berkualitas tinggi. Mari kita eksplorasi lebih dalam tentang bagaimana perangkat lunak dibangun dan tantangannya di dunia modern.</p>
      </section>

      <section class="program-container">
        <!-- Program 1 -->
        <div class="program-card">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeiFTOn9xaKvAII2UR4m1kR_Dj8NupcilTgw&s"
            alt="Video Interaktif"
            style="width: 325px; height: 200px"
          />
          <h3 style="text-align: justify">Eps 1 : Pengenalan Software Development</h3>
          <p style="text-align: justify">
            Peserta akan mempelajari dasar-dasar software development, termasuk definisi perangkat lunak dan berbagai jenisnya. Mereka akan memahami siklus hidup pengembangan perangkat lunak (SDLC), yang mencakup analisis, desain, pengembangan, pengujian, dan pemeliharaan. Pengetahuan ini menjadi fondasi penting untuk topik-topik selanjutnya dalam pembelajaran.
          </p>
          <p class="price">
            <strong class="free">Free</strong>
            <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
          </p>
        </div>
        <!-- Program 2 -->
      <div class="program-card">
        <img
          src="https://i.pinimg.com/236x/e2/1d/b4/e21db4737b81c07cbe87c6ad5a61d13c.jpg"
          alt="Video Interaktif"
          style="width: 325px; height: 200px"
        />
        <h3 style="text-align: justify">Eps 2 : Metodologi Pengembangan Perangkat Lunak</h3>
        <p style="text-align: justify">
          Episode ini membahas berbagai metodologi dalam pengembangan perangkat lunak, seperti Agile, Waterfall, dan DevOps. Peserta akan belajar kelebihan dan kekurangan masing-masing metodologi serta kapan menggunakannya. Pemahaman tentang metodologi ini membantu peserta memilih pendekatan yang tepat berdasarkan karakteristik proyek dan kebutuhan tim.
        </p>
        <p class="price">
          <strong class="free">Free</strong>
          <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
        </p>
      </div>
      <!-- Program 3 -->
      <div class="program-card">
        <img
          src="https://i.pinimg.com/236x/5d/88/29/5d8829bed99e9097145dd9ca97ec3c9f.jpg"
          alt="Video Interaktif"
          style="width: 325px; height: 200px"
        />
        <h3 style="text-align: justify">Eps 3 : Alat dan Teknologi dalam Software Development</h3>
        <p style="text-align: justify">
          Peserta akan mempelajari alat dan teknologi yang umum digunakan, seperti Integrated Development Environment (IDE), version control (Git), dan manajemen proyek (Trello, Jira). Episode ini akan memberikan wawasan tentang cara memanfaatkan alat-alat tersebut untuk meningkatkan kolaborasi, efisiensi, dan pengelolaan proyek dalam tim pengembangan perangkat lunak.
        </p>
        <p class="price">
          <strong class="free">Free</strong>
          <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
        </p>
      </div>
      <div class="program-card">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkOZnEU3PZTOa9jDslrN7JQMuh_T-_SNCV0Q&s"
          alt="Video Interaktif"
          style="width: 325px; height: 200px"
        />
        <h3 style="text-align: justify">Eps 4 : Bahasa Pemrograman Dasar</h3>
        <p style="text-align: justify">
          Episode ini memperkenalkan peserta pada bahasa pemrograman populer seperti Python, Java, dan JavaScript. Mereka akan mempelajari sintaksis, tipe data, dan karakteristik masing-masing bahasa. Dengan pemahaman ini, peserta dapat memilih bahasa yang sesuai berdasarkan jenis proyek, serta mempersiapkan diri untuk belajar teknik pemrograman lebih lanjut.
        </p>
        <p class="price">
          <strong class="free"><i class="fa-solid fa-lock"></i></strong>
          <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
        </p>
      </div>
      <div class="program-card">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJj_cPEtHOIzRmVXpAmMtkDEdFTcOJ1Zv50w&s"
          alt="Video Interaktif"
          style="width: 325px; height: 200px"
        />
        <h3 style="text-align: justify">Eps 5 : Konsep Dasar Pemrograman</h3>
        <p style="text-align: justify">
          Peserta akan mendalami konsep dasar pemrograman, termasuk variabel, tipe data, struktur kontrol (if, loop), dan fungsi. Melalui penjelasan dan latihan praktis, mereka akan belajar menulis kode yang efisien dan terstruktur. Pemahaman ini penting untuk membangun dasar yang kuat dalam pengembangan perangkat lunak.
        </p>
        <p class="price">
          <strong class="free"><i class="fa-solid fa-lock"></i></strong>
          <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
        </p>
      </div>
      <div class="program-card">
        <img
          src="https://i.pinimg.com/236x/79/c6/2d/79c62d94154fb332afb84191a996e66f.jpg"
          alt="Video Interaktif"
          style="width: 325px; height: 200px"
        />
        <h3 style="text-align: justify">Eps 6 : Pengembangan Web Frontend
        </h3>
        <p style="text-align: justify">
          Peserta akan mempelajari pengembangan web frontend dengan fokus pada HTML, CSS, dan JavaScript. Mereka akan belajar cara membuat antarmuka pengguna yang menarik dan responsif. Diskusi juga akan mencakup prinsip desain responsif, memastikan halaman web dapat diakses dengan baik di berbagai perangkat dan ukuran layar.
        </p>
        <p class="price">
          <strong class="free"><i class="fa-solid fa-lock"></i></strong>
          <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
        </p>
      </div>
      <div class="program-card">
        <img
          src="https://i.pinimg.com/564x/ad/6d/29/ad6d29c7bceb2097c04843b1c55762eb.jpg"
          alt="Video Interaktif"
          style="width: 325px; height: 200px"
        />
        <h3 style="text-align: justify">Eps 7: Pengembangan Web Backend</h3>
        <p style="text-align: justify">
          Episode ini memperkenalkan peserta pada pengembangan web backend, termasuk konsep server, database, dan API. Mereka akan belajar menggunakan framework backend populer seperti Node.js dan Django. Peserta akan memahami bagaimana aplikasi backend berfungsi, serta cara berinteraksi dengan frontend melalui API yang efektif.
        </p>
        <p class="price">
          <strong class="free"><i class="fa-solid fa-lock"></i></strong>
          <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
        </p>
      </div>
    </div>
    <div class="program-card">
      <img
        src="https://i.pinimg.com/236x/a2/86/65/a28665c09784e76a996e7e7a6f76e1cd.jpg"
        alt="Video Interaktif"
        style="width: 325px; height: 200px"
      />
      <h3 style="text-align: justify">Eps 8: Database dan Manajemen Data</h3>
      <p style="text-align: justify">
        Peserta akan mempelajari konsep database, termasuk perbedaan antara database relasional (SQL) dan non-relasional (NoSQL). Mereka akan diajarkan cara merancang skema database dan melakukan operasi dasar. Pengetahuan ini akan memungkinkan peserta untuk mengelola data aplikasi secara efisien dan efektif dalam proyek pengembangan
      </p>
      <p class="price">
        <strong class="free"><i class="fa-solid fa-lock"></i></strong>
        <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
      </p>
    </div>
  </div>
  <div class="program-card">
    <img
      src="https://i.pinimg.com/236x/34/66/dc/3466dcc225ee7e17ed1b6477ca9733d0.jpg"
      alt="Video Interaktif"
      style="width: 325px; height: 200px"
    />
    <h3 style="text-align: justify">Eps 9: Pengujian Perangkat Lunak</h3>
    <p style="text-align: justify">
      Dalam episode ini, peserta akan memahami pentingnya pengujian dalam pengembangan perangkat lunak. Mereka akan belajar tentang berbagai jenis pengujian, seperti pengujian unit dan integrasi. Diskusi tentang alat pengujian dan teknik terbaik akan membantu peserta menulis pengujian otomatis untuk memastikan kualitas kode yang tinggi.
    </p>
    <p class="price">
      <strong class="free"><i class="fa-solid fa-lock"></i></strong>
      <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
    </p>
  </div>
</div>
<div class="program-card">
  <img
    src="https://i.pinimg.com/236x/af/67/b0/af67b0dcc500ece849d5e39518fa63df.jpg"
    alt="Video Interaktif"
    style="width: 325px; height: 200px"
  />
  <h3 style="text-align: justify">Eps 10: Keamanan dalam Pengembangan Perangkat Lunak</h3>
  <p style="text-align: justify">
    Peserta akan mempelajari prinsip keamanan yang harus diterapkan dalam pengembangan perangkat lunak. Mereka akan mengenali kerentanan umum dan praktik terbaik untuk mengamankan aplikasi. Pengetahuan ini penting agar peserta dapat membangun aplikasi yang aman dan melindungi data pengguna dari potensi ancaman.
  </p>
  <p class="price">
    <strong class="free"><i class="fa-solid fa-lock"></i></strong>
    <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
  </p>
</div>
<div class="program-card">
  <img
    src="https://i.pinimg.com/736x/53/10/46/53104609e0aaa531fc352d1d313ab17f.jpg"
    alt="Video Interaktif"
    style="width: 325px; height: 200px"
  />
  <h3 style="text-align: justify">Eps 11 : Pengembangan Aplikasi Mobile</h3>
  <p style="text-align: justify">
    Di episode ini, peserta akan mengeksplorasi pengembangan aplikasi mobile dengan framework seperti React Native dan Flutter. Mereka akan belajar mendesain dan membangun aplikasi mobile sederhana, serta memahami aspek user experience (UX). Pemahaman tentang platform mobile akan mempersiapkan peserta untuk tren terbaru dalam pengembangan.
  </p>
  <p class="price">
    <strong class="free"><i class="fa-solid fa-lock"></i></strong>
    <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
  </p>
</div>
<div class="program-card">
  <img
    src="https://i.pinimg.com/736x/d5/db/b0/d5dbb041dbd11cfa15a7145368b43c72.jpg"
    alt="Video Interaktif"
    style="width: 325px; height: 200px"
  />
  <h3 style="text-align: justify">Eps 12 : Membangun Karir di Software Development</h3>
  <p style="text-align: justify">
    Episode terakhir membahas langkah-langkah membangun karir di bidang software development. Peserta akan belajar tentang berbagai peran, penulisan CV, dan persiapan wawancara. Diskusi ini bertujuan membantu peserta merencanakan perjalanan karir dan memahami peluang yang tersedia dalam industri teknologi saat ini.
  </p>
  <p class="price">
    <strong class="free"><i class="fa-solid fa-lock"></i></strong>
    <a href="../../view/product.html"><button type="button" class="btn btn-primary">Watch</button></a>
  </p>
</div>   
    
      </main>
    
      <footer>
        <div class="footer-container">
          <div class="footer-about">
            <h3>Tentang Kami</h3>
            <p>
              PassionPath membantu pengguna mengenali potensi dan minat melalui
              tes psikologis ilmiah. Platform ini memberikan rekomendasi karir dan
              pendidikan yang sesuai, serta laporan hasil tes untuk pengembangan
              diri dan perencanaan masa depan.
            </p>
          </div>
  
          <div class="kekanan">
            <div class="contact-us">
              <h3>Contact Us</h3>
              <ul>
                <li>
                  <a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a>
                </li>
                <li>
                  <a href="#courses"
                    ><i class="fa-solid fa-envelope"></i> Email</a>
                </li>
                <li>
                  <a href="#about"
                    ><i class="fa-solid fa-location-dot"></i> Cawang PGC, Lt.4</a
                  >
                </li>
              </ul>
            </div>
  
            <div class="information">
              <h3>information</h3>
              <ul>
                <li>
                  <a href="#"
                    ><i class="fa-solid fa-hand-holding-dollar"></i> Jumlah
                    Donasi</a
                  >
                </li>
                <li>
                  <a href="#"><i class="fa-solid fa-images"></i> Dokumentasi</a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa-solid fa-pen-to-square"></i> Program &
                    Rencana</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
  
      <!-- javascript -->
      <script src="../../style/app.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
