<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../style/dashboard/style_dashboard_admin.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <header>
        <div class="side-bar">
            <div class="logo">
                <img src="../../img/logo_long_passionpath.png" alt="PassionPath Logo">
            </div>
            <div class="divider"></div>
            <ul class="menu">
                <div class="menu-option">
                    <a>
                    <i class="fa-solid fa-house"></i>
                    <li>Homepage</li>
                    </a>
                </div>
                <div class="menu-option">
                    <a>
                    <i class="fa-solid fa-chalkboard-user"></i>
                    <li>Program</li>
                    </a>
                </div>
                <div class="menu-option">
                    <a>
                    <i class="fa-solid fa-gear"></i>
                    <li>Profile</li>
                    </a>
                </div>
                <div class="menu-option">
                    <a>
                    <i class="fa-solid fa-money-bill"></i>
                    <li>Pembayaran</li>
                    </a>
                </div>
                <div class="menu-option">
                    <a>
                    <i class="fa-solid fa-chart-pie"></i>
                    <li>Laporan</li>
                    </a>
                </div>
                <div class="menu-option">
                    <a>
                    <i class="fa-solid fa-chart-pie"></i>
                    <li>Pengaturan</li>
                    </a>
                </div>
            </ul>
            <div class="divider divider-bottom"></div>
            <div class="menu-bottom">
                <a><li>Log Out</li></a>
            </div>
        </div>

        <div class="navbar">
            <div class="header-title">Dashboard</div>
            <div class="user-info">
                <div class="user-info-text">
                    <span>Admin Account</span>
                    <span>admin123@gmail.com</span>
                </div>
                <!-- ini nanti bisa ke link ke profile -->
                <div class="user-icon"> <i class="fa-solid fa-user"></i></div> 
            </div>
        </div>
    </header>


    <div class="main-content">
        <div class="dashboard">
            <h1>Hello, Person!</h1>
            <p>Overview</p>
            <div class="overview">
                <div class="card red">
                    <h2> 1210<i class="fas fa-users"></i></h2>
                    <p>Total Pengguna</p>
                </div>
                <div class="card blue">
                    <h2>30 <i class="fab fa-youtube"></i></h2>
                    <p>Video Interaktif</p>
                </div>                 
                <div class="card green">
                    <h2>05 <i class="fas fa-book-open"></i></h2>
                    <p>Kelas</p>
                </div>
                <div class="card pink">
                    <h2>57 <i class="fa-solid fa-chalkboard-teacher"></i></h2>
                    <p>Pengajar</p>
                </div>
                <div class="card yellow">
                    <h2>26<i class="fa-solid fa-list-check"></i></h2>
                    <p>Soal Psikotes</p>
                </div>
                <div class="card purple">
                    <h2>20 <i class="fas fa-graduation-cap"></i></h2>
                    <p>Sekolah Terafiliasi</p>
                </div>
            </div>
        </div>
    </div>


</body>


</html>

