<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About PassionPath</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../img/logo_Square_passionpath.png"
    />

    <!-- Link Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../style/style_about.css" />
    <link rel="stylesheet" href="../style/style_nav-footer.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <div class="navbar-custom">
        <div class="rata-kiri">
          <div class="logo">
            <img
              src="../img/logo_long_passionpath.png"
              alt="PassionPath Logo"
            />
          </div>
          <nav>
            <ul>
              <li><a href="../view/index.html">Home</a></li>
              <li><a href="../view/about.html">About</a></li>
              <li><a href="../view/product.html">Product</a></li>
            </ul>
          </nav>
        </div>

        <div class="auth-buttons">
          <a href="../view/login.html">
            <button class="login-btn">Login</button></a
          >
          <a href="../view/register.html">
            <button class="register-btn">Register</button></a
          >
        </div>
      </div>
    </header>

    <main>
      <section class="hero">
        <div class="highlight-bg">
          <h1 style="text-align: center;">Mengapa Harus PassionPath?</h1>
        </div>

        
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <div style="flex: 1;">
              <p class="highlight" style="font-size: 40px;">Tau kah kamu?</p>
              <blockquote style="font-size: 24px;">
                  “87% mahasiswa di Indonesia merasa salah jurusan dengan berbagai alasan”
              </blockquote> 
              <p>
          Dengan fenomena tersebut, PassionPath hadir untuk meminimalisir
          permasalahan tersebut. PassionPath <br />merupakan platform belajar
          untuk mencari minat bakat pada siswa SMP dan SMA untuk ke jenjang
          lebih lanjut.
        </p>
          </div>
      
        <div style="flex: 1; text-align: right;">
              <img src="../img/map.png" alt="Peta" style="width: 620px; height: auto; margin-top: 50px; margin-right: 30px;">
              <blockquote style="text-align: center;">
          <span
            >Ahli Educational Psychologist dari Integrity Development
            Flexibility (IDF), Irene Guntur.</span>
        </blockquote> 
          </div>
      </div>
      
        <br>
       
        <div style="display: flex; align-items: center;">
          <div style="flex: 1; text-align: left; margin-left: 70px;">
              <img src="../img/ideaFit.png" alt="Idea" style="width: 500px; height: auto;">
          </div>
          <div class="benefits" style="margin-right: 80px;">
              <h2>Dengan PassionPath kamu akan...</h2>
              <ul>
                  <li>Menambah wawasan terkait pekerjaan yang kamu minati</li>
                  <li>Belajar dari pengalaman para Expert</li>
                  <li>Mendapatkan hasil psikotes yang terpersonalisasi</li>
              </ul>
          </div>
      </div>
      
      <br>

        <h3>
          Tentukan dan jelajahi jalur karir yang kamu minati bersama
          PassionPath!
        </h3>
        <a href="../view/product.html">
          <button class="join-btn btn">Join Now</button></a
        >
      </section>
    </main>

    <footer>
      <div class="footer-container">
        <div class="footer-about">
          <h3>Tentang Kami</h3>
          <p>
            PassionPath membantu pengguna mengenali potensi dan minat melalui
            tes psikologis ilmiah. Platform ini memberikan rekomendasi karir dan
            pendidikan yang sesuai, serta laporan hasil tes untuk pengembangan
            diri dan perencanaan masa depan.
          </p>
        </div>

        <div class="kekanan">
          <div class="contact-us">
            <h3>Contact Us</h3>
            <ul>
              <li>
                <a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a>
              </li>
              <li>
                <a href="#courses"
                  ><i class="fa-solid fa-envelope"></i> Email</a>
              </li>
              <li>
                <a href="#about"
                  ><i class="fa-solid fa-location-dot"></i> Cawang PGC, Lt.4</a
                >
              </li>
            </ul>
          </div>

          <div class="information">
            <h3>information</h3>
            <ul>
              <li>
                <a href="#"
                  ><i class="fa-solid fa-hand-holding-dollar"></i> Jumlah
                  Donasi</a
                >
              </li>
              <li>
                <a href="#"><i class="fa-solid fa-images"></i> Dokumentasi</a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa-solid fa-pen-to-square"></i> Program &
                  Rencana</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- javascript -->
    <script src="../style/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
