<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About PassionPath</title>
    <link rel="shotcut icon" type="n-icon" href="../img/logo_Square_passionpath.png">
    <link rel="stylesheet" href="../style/style_about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="rata-kiri">
                <div class="logo">
                    <img src="../img/logo_long_passionpath.png" alt="PassionPath Logo">
                </div>
                <nav>
                    <ul>
                        <li><a href="../view/index.html">Home</a></li>
                        <li><a href="../view/about.html">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="../view/product.html">Product</a></li>
                    </ul>
                </nav>
            </div>

            <div class="auth-buttons">
                <button class="login-btn">Login</button>
                <button class="register-btn">Register</button>
            </div>
        </div>
    </header>

    <main>
        <!-- Section hero -->
        <section class="hero">
            <div class="highlight-bg">
                <h1>Mengapa Harus PassionPath?</h1>
            </div>
            
            <p class="highlight">Tau kah kamu?</p>
            <blockquote>
                “87% mahasiswa di Indonesia merasa<br>salah jurusan dengan berbagai alasan”
                <span>ahli Educational Psychologist dari Integrity Development Flexibility (IDF),Irene Guntur,</span>
            </blockquote>
            <p>Dengan fenomena tersebut, PassionPath hadir untuk meminimalisir permasalahan tersebut. PassionPath 
                <br>merupakan platform belajar untuk mencari minat bakat pada siswa SMP dan SMA untuk ke jenjang lebih lanjut.</p>

            <div class="benefits">
                <h2>Dengan PassionPath kamu akan...</h2>
                <ul>
                    <li>Menambah wawasan terkait pekerjaan yang kamu minati</li>
                    <li>Belajar dari pengalaman para Expert</li>
                    <li>Mendapatkan hasil psikotes yang terpersonalisasi</li>
                </ul>
            </div>
            <h3>Tentukan dan jelajahi jalur karir yang kamu minati bersama PassionPath!</h3>
            <button class="join-btn">Join Now</button>
        </section>
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-about">
                <h3>Tentang Kami</h3>
                <p>PassionPath membantu pengguna mengenali potensi dan minat melalui tes psikologis ilmiah. Platform ini memberikan rekomendasi karir dan pendidikan yang sesuai, serta laporan hasil tes untuk pengembangan diri dan perencanaan masa depan.</p>
            </div>
    
            <div class="kekanan">
                <div class="contact-us">
                    <!-- <div class="footer-links"> -->
                    <h3>Contact Us</h3>
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a></li>
                        <li><a href="#courses"><i class="fa-solid fa-envelope"></i> Email</a></li>
                        <li><a href="#about"><i class="fa-solid fa-location-dot"></i> Cawang PGC, Lt.4</a></li>
                    </ul>
                </div>
    
                <div class="information">
                    <!-- <div class="footer-contact"> -->
                    <h3>information</h3>
                    <ul>
                        <li><a href="#"><i class="fa-solid fa-hand-holding-dollar"></i> Jumlah Donasi</a></li>
                        <li><a href="#"><i class="fa-solid fa-images"></i> Dokumentasi</a></li>
                        <li><a href="#"><i class="fa-solid fa-pen-to-square"></i> Program & Rencana</a></li>   
                    </ul>
                 </div>
            </div>
        </div>
        </footer>
</body>
</html>
