<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PassionPath</title>
    <link rel="shotcut icon" type="n-icon" href="../img/logo_Square_passionpath.png">
    <link rel="stylesheet" href="../style/style_index.css">
    <link rel="stylesheet" href="../style/style_nav-footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script>

        let klikFaq = document.getElementById("bulet")
        document.addEventListener('DOMContentLoaded', function () {
            let klikFaq1 = document.getElementById("bulet1")
            let klikFaq2 = document.getElementById("bulet2")
            let klikFaq3 = document.getElementById("bulet3")
            let klikFaq4 = document.getElementById("bulet4")
            let klikFaq5 = document.getElementById("bulet5")
            let klikFaq6 = document.getElementById("bulet6")

            klikFaq1.addEventListener("click", function () {
                document.querySelector(".question1 p").classList.toggle('ada')
            })
            klikFaq2.addEventListener("click", function () {
                document.querySelector(".question2 p").classList.toggle('ada')
            })
            klikFaq3.addEventListener("click", function () {
                document.querySelector(".question3 p").classList.toggle('ada')
            })
            klikFaq4.addEventListener("click", function () {
                document.querySelector(".question4 p").classList.toggle('ada')
            })
            klikFaq5.addEventListener("click", function () {
                document.querySelector(".question5 p").classList.toggle('ada')
            })
            klikFaq6.addEventListener("click", function () {
                document.querySelector(".question6 p").classList.toggle('ada')
            })

        })


        setTimeout(function () {
            document.getElementById("ilang1").style.display = 'block';
            document.getElementById("ilang2").style.display = 'block';
            document.getElementById("ilang3").style.display = 'block';
            document.querySelector('section').style.dispay = 'none';
            document.querySelector(".page").style.display = 'none';
            document.getElementById("donut-spinner").style.display = 'none';
        }, 3000);
    </script>

    <style>
        .page {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        @keyframes donut-spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        #donut-spinner {
            display: block;
            width: 80px;
            height: 80px;
            border: 5px solid rgba(0, 0, 0, 0.1);
            border-left-color: #d45a14;
            border-radius: 50%;
            animation: donut-spin 1.2s linear infinite;
        }
    </style>

</head>

<body>

    <section class="page">
        <div id="donut-spinner"></div>
    </section>

    <header class="ilang" id="ilang1">
        <div class="navbar-custom">
            <div class="rata-kiri">
                <div class="logo">
                    <img src="../img/logo_long_passionpath.png" alt="PassionPath Logo">
                </div>
                <nav>
                    <ul>
                        <li><a href="../view/index.html">Home</a></li>
                        <li><a href="../view/about.html">About</a></li>
                        <li><a href="../view/product.html">Product</a></li>
                    </ul>
                </nav>
            </div>

            <div class="auth-buttons">
                <a href="../view/login.html"> <button class="login-btn">Login</button></a>
                <a href="../view/register.html"> <button class="register-btn">Register</button></a>
            </div>
        </div>
        </div>
    </header>

    <main class="ilang" id="ilang2">
        <div class="jumbotron">
            <div class="jumbotron-content">
                <img style="margin: 20px;" src="../img/pict_jumbotron.png" alt="Gambar" class="jumbotron-image">
                <!-- Ganti dengan URL gambar Anda -->
                <div class="jumbotron-text">
                    <h2 style="margin: 20px;">Passion Path
                        <br>
                        Education Platform
                    </h2>
                    <p style="margin: 20px;">Pembelajaran minat bakat pada siswa
                        <br>
                        SMP/MTS/MA/SMA/SMK Sederajat
                    </p>
                    <p>
                       <a href="../view/product.html"> <button class="button-product">Get Started</button></a>
                    </p>
                </div>
            </div>

            <div class="button-container"> <!-- Container untuk kedua button -->
                <button class="button-class">
                    <h3><i class="fa-solid fa-chalkboard-user"></i>110 Class</h3>
                </button>
                <button class="button-class button-siswa">
                    <h3><i class="fa-solid fa-graduation-cap"></i>200 Siswa</h3>
                </button> <!-- Button baru -->
            </div>
        </div>

        <br>
        <br>
        <br>

        <div class="button-container2"> <!-- Container untuk kedua button -->
            <button class="button-business"><i class="fa-solid fa-briefcase fa-2x"></i>Business</button>
            <button class="button-development"><i class="fa-solid fa-file-code fa-2x"></i>Development</button>
            <button class="button-language"><i class="fa-solid fa-language fa-2x"></i>Language</button>
            <button class="button-design"><i class="fa-solid fa-pen-ruler fa-2x"></i>Design</button>
            <button class="button-office"><i class="fa-solid fa-building fa-2x"></i>Office</button>
        </div>

        <div class="mbakudung" style="display: flex; justify-content: center; align-items: center;">
            <div class="text-benefit">
                <h2>Kenapa Kamu Harus Mengikuti Kelas di PassionPath?</h2>
                <p><i class="fa-regular fa-circle-check" style="color: #4480FA;"></i>Mempermudah menuju jurusan impian
                </p>
                <p><i class="fa-regular fa-circle-check" style="color: #4480FA;"></i>Prospek karir yang sesuai</p>
                <p><i class="fa-regular fa-circle-check" style="color: #4480FA;"></i>Memaksimalkan Potensi Diri</p>
                <p><i class="fa-regular fa-circle-check" style="color: #4480FA;"></i>Melambah Wawasan</p>
                <p><i class="fa-regular fa-circle-check" style="color: #4480FA;"></i>Koneksi dan Networking yang luas
                </p>
            </div>
            <div class="pict_mbakudung">
                <img src="../img/pict_mbamba_kudung.png" alt="Gambar" class="image-mba">
            </div>
        </div>

        <div class="faq">
            <h1> Frequently asked Questions </h1>
            <div class="card-faq">
                <div class="question1">
                    <h3>Bagaimana cara mendaftar di PassionPath?</h3>
                    <p class="kaga-ada">Silahkan untuk daftar disini!<a href="../view/register.html">daftar</a>
                </div>

                <div>
                    <div id="bulet1"></div>
                </div>
            </div>
            <div class="card-faq">
                <div class="question2">
                    <h3>Apa itu PassionPath?</h3>
                    <p class="kaga-ada"> PassionPath membantu pengguna mengenali potensi dan minat melalui tes
                        psikologis ilmiah. Platform ini memberikan rekomendasi karir dan pendidikan yang sesuai,
                        serta laporan hasil tes untuk pengembangan diri dan perencanaan masa depan.</p>
                    </p>
                </div>

                <div>
                    <div id="bulet2"></div>
                </div>
            </div>
            <div class="card-faq">
                <div class="question3">
                    <h3>Apakah ada biaya untuk menggunakan PassionPath?</h3>
                    <p class="kaga-ada">Biaya yang di kenakan mulai dari 0 Rupiah Alias Gratis!Kamu bisa mengecek detail
                        harga<a href="../view/product.html">Disini</a></p>
                </div>
                <div>
                    <div id="bulet3"></div>
                </div>
            </div>
            <div class="card-faq">
                <div class="question4">
                    <h3>Bagaimana PassionPath menjaga privasi dan keamanan data saya?</h3>
                    <p class="kaga-ada">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, fuga!</p>
                </div>
                <div>
                    <div id="bulet4"></div>
                </div>
            </div>
            <div class="card-faq">
                <div class="question5">
                    <h3>Apakah PassionPath bisa diakses secara offline?</h3>
                    <p class="kaga-ada">Bisa! kamu dapat mengunduh video-video di PassionPath agar bisa kamu tonton
                        nanti.</p>
                </div>
                <div>
                    <div id="bulet5"></div>
                </div>
            </div>
            <div class="card-faq">
                <div class="question6">
                    <h3>Bagaimana cara membayar untuk yang berbayar?</h3>
                    <p class="kaga-ada">Metode pembayaran yang dapat kamu lakukan yaitu dengan tranfer bank serta dompet
                        digital</p>
                </div>
                <div>
                    <div id="bulet6"></div>
                </div>
            </div>

        </div>

    </main>


    <footer class="ilang" id="ilang3">
        <div class="footer-container">
            <div class="footer-about">
                <h3>Tentang Kami</h3>
                <p>PassionPath membantu pengguna mengenali potensi dan minat melalui tes psikologis ilmiah. Platform ini
                    memberikan rekomendasi karir dan pendidikan yang sesuai, serta laporan hasil tes untuk pengembangan
                    diri dan perencanaan masa depan.</p>
            </div>

            <div class="kekanan">
                <div class="contact-us">
                    <!-- <div class="footer-links"> -->
                    <h3>Contact Us</h3>
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a></li>
                        <li><a href="#courses"><i class="fa-solid fa-envelope"></i> Email</a></li>
                        <li><a href="#about"><i class="fa-solid fa-location-dot"></i> Cawang PGC, Lt.4</a></li>
                    </ul>
                </div>

                <div class="information">
                    <!-- <div class="footer-contact"> -->
                    <h3>information</h3>
                    <ul>
                        <li><a href="#"><i class="fa-solid fa-hand-holding-dollar"></i> Jumlah Donasi</a></li>
                        <li><a href="#"><i class="fa-solid fa-images"></i> Dokumentasi</a></li>
                        <li><a href="#"><i class="fa-solid fa-pen-to-square"></i> Program & Rencana</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>





<!-- javascript -->
<script src="../style/app.js"></script>

</body>

</html>