<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PassionPath</title>
    <link rel="shotcut icon" type="n-icon" href="../img/logo_Square_passionpath.png">
    <link rel="stylesheet" href="../style/style_register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="rata-kiri">
                <div class="logo">
                    <img src="../img/logo_long_passionpath.png" alt="PassionPath Logo">
                </div>
                <nav>
                    <ul>
                        <li><a href="../view/index.html">Home</a></li>
                        <li><a href="../view/about.html">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>

            <div class="auth-buttons">
                <button class="login-btn">Login</button>
                <button class="register-btn">Register</button>
            </div>
        </div>
    </header>

    <main>
        <div class="comingsoon">
            <h1><i class="fa-solid fa-hourglass-start"></i>  Coming Soon</h1>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-about">
                <h3>Tentang Kami</h3>
                <p>PassionPath membantu pengguna mengenali potensi dan minat melalui tes psikologis ilmiah. Platform ini memberikan rekomendasi karir dan pendidikan yang sesuai, serta laporan hasil tes untuk pengembangan diri dan perencanaan masa depan.</p>
            </div>
    
            <div class="kekanan">
                <div class="contact-us">
                    <!-- <div class="footer-links"> -->
                    <h3>Contact Us</h3>
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a></li>
                        <li><a href="#courses"><i class="fa-solid fa-envelope"></i> Email</a></li>
                        <li><a href="#about"><i class="fa-solid fa-location-dot"></i> Cawang PGC, Lt.4</a></li>
                    </ul>
                </div>
    
                <div class="information">
                    <!-- <div class="footer-contact"> -->
                    <h3>information</h3>
                    <ul>
                        <li><a href="#"><i class="fa-solid fa-hand-holding-dollar"></i> Jumlah Donasi</a></li>
                        <li><a href="#"><i class="fa-solid fa-images"></i> Dokumentasi</a></li>
                        <li><a href="#"><i class="fa-solid fa-pen-to-square"></i> Program & Rencana</a></li>   
                    </ul>
                 </div>
            </div>
        </div>
        </footer>
</body>
</html>